name: Mida Interactive Build
on: [push]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, x86]
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          architecture: ${{ matrix.arch }}

      - name: Install Libraries
        run: |
          python -m pip install --upgrade pip
          pip install flask flask-socketio pyautogui opencv-python numpy pyinstaller

      - name: Build EXE File
        run: |
          pyinstaller --onefile --windowed --name "Mida_Interactive_${{ matrix.arch }}" main.py

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: Mida_Build_${{ matrix.arch }}
          path: dist/*.exe
