name: Mida_Pro_64bit
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Libs
        run: pip install flask flask-socketio pyautogui opencv-python numpy pyinstaller

      - name: Build
        run: pyinstaller --onefile --windowed --name "Mida_Interactive_Pro_x64" main.py

      - name: Save
        uses: actions/upload-artifact@v4
        with:
          name: Mida_EXE_Final
          path: dist/*.exe
          
